/* style.css */

@import url(./reset.css);

@font-face {
    font-family: 'GmarketSansBold';
    src: url('../assets/fonts/GmarketSansBold.otf') format('opentype');   
    font-weight: 700;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('../assets/fonts/GmarketSansMedium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'tvNJoyBold';
    src: url('../assets/fonts/tvN-Joy-Bold.otf') format('opentype');
    font-weight: 700;
}


:focus-visible { outline: 3px solid #D97652; outline-offset: 3px; }

/* 모바일 퍼스트 기본 스타일( */
body {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'GmarketSansMedium', sans-serif;
    color: #fff;
    background-color: #5B2386;
}


.site-header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 32px;
    
}

.site-header__logo {
    max-width: 278px;
}
.site-header__slogan {
    font-family: 'tvNJoyBold';
    font-size: 22px;
    color: #F5DF4D;
}


.main-content {
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  margin-bottom: 60px;
}
.quote__text {
    display: flex;
    flex-direction: column;
    gap: 14px
}
.quote__text p {
  text-align: center;
}
.quote__icon {
  width: 20px;
  height: 20px;
}

.goal-form {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 114px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 14px;
}

.goal-form p {
    text-align: center;
    line-height: 38px;
}
.goal-form__input {
    min-height: 38px;
    min-width: 156px;
    border-radius: 8px;
    text-align: center;
}

.calculate-section {
    display: flex;
    padding-left: 56px;
    padding-right: 17px;
    margin-bottom: 52px;
  padding-block: 24px; /* 상하 여백 */
}
.calculate-button {
    max-height: 72px;
    padding: 20px 38px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    color:#5B2386;
    line-height: 16px;
    
}
.calculate-section__icon{
    width: 43px;
    margin-top: 40px;
}

.result-section {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 52px;
  padding-block: 24px; /* 상하 여백 */
}
.result-section p {
  font-size: 12px;
  line-height: 24px;
}

.result-section__field {
    font-family: 'GmarketSansBold';
  font-size: 24px;
}
.result-section__days {
    font-family: 'GmarketSansBold';
  font-size: 24px;
}

.action-section {
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 52px;
  padding-block: 24px; /* 상하 여백 */
}
.action-button--primary {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color:#5B2386;
}
.action-button--share{
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #fff;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color:#5B2386;
}



.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 48px;
    gap: 12px;
}
.site-footer img { 
    width: 125px;
    height: 28px;
}

.site-footer p {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 9px;
    padding-left: 50px;
    padding-right: 50px;
}
.overlay {
  position: fixed;        /* 화면 전체 덮기 */
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;          /* 기본은 숨김 */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* 열렸을 때만 보이게 */
.overlay.is-open {
  display: flex;
}
.modal {
    background-color:#fff;
    color: #5B2386;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-family: 'tvNJoyBold';
}
.modal h2{
    display: flex;
    justify-content: center;
    font-size: 64px;
}
.modal p{
    font-size: 36px;
}

.modal_img{
    width: 240px;
    margin-top: 24px;
    margin-bottom: 24px;
    

}
.modal_button{
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color:#5B2386;
}




/* 데스크톱 사이즈 */
/* 작업하는동안 구분을 위해 배경색을 다르게 설정해둠! */
@media (min-width: 768px) {
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'GmarketSansMedium', sans-serif;
    color: #fff;
    background-color: #5B2386;
        
        
    }
   .site-header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 32px;
}

.site-header__logo {
    max-width: 564px;
}
.site-header__slogan {
    font-family: 'tvNJoyMedium';
    font-size: 36px;
    color: #F5DF4D;
}


.main-content {
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 68px;
}
.quote__text {
    display: flex;
    flex-direction: column;
    gap: 18px
}
.quote__text_strong{
    font-size: 24px;
    font-family: 'GmarketSansBold';
}
.quote__text p {
  text-align: center;
}
.quote__icon {
  width: 36px;
  height: 32px;
}

.goal-form {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 114px;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 24px;
}

.goal-form p {
    text-align: center;
    line-height: 38px;
}
.goal-form__input {
    min-height: 56px;
    min-width: 228px;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
}

.calculate-section {
    display: flex;
}
.calculate-button {
    max-height: 64px;
    padding: 20px 38px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color:#5B2386;
    
}
.calculate-section__icon{
    width: 64px;
    margin-top: 40px;
}

.result-section {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 52px;
  padding-block: 24px; /* 상하 여백 */
}
.result-section p {
    display: flex;
    
  font-size: 24px;
  line-height: 72px;
}

.result-section__field {
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'GmarketSansBold';
  font-size: 72px;
}
.result-section__days {
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'GmarketSansBold';
  font-size: 72px;
}

.action-section {
display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 52px;
  padding-block: 24px; /* 상하 여백 */
}
.action-button--primary {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color:#5B2386;
}
.action-button--share{
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #fff;
    font-family: 'GmarketSansBold';
    font-size: 24px;
    color:#5B2386;
}



.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 48px;
    gap: 12px;
}
.site-footer img { 
    width: 168px;
    height: 36px;
}

.site-footer p {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
}
.modal {
    width: 800px;
    background-color:#fff;
    color: #5B2386;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    font-family: 'tvNJoyBold';
}
.modal h2{
    display: flex;
    justify-content: center;
    font-size: 96px;
}
.modal p{
    font-size: 36px;
}

.modal_img{
    width: 438px;
    margin-top: 40px;
    margin-bottom: 60px;
    

}
.modal_button{
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F5EE21;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    color:#5B2386;
}

   
}
